@media only screen and (max-width: 1024px) {

body, html {
    font-size: 16px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .header__logo {
        padding: 10px 10px;
    }
        .header__logo img {
        }
    .header__nav {
    }
        .header__nav ul {
        }
            .header__nav ul li {
            }
                .header__nav ul li a {
                    margin: 10px 15px;
                }
                .header__nav ul li a:hover {
                }

.mosaico {
}
    .mosaico__container {
    }
        .mosaico__container--box {
        }

.servicos {
}
    .servicos__box {
    }
    .servicos__box.active {
    }
        .servicos__box h2 {
            padding: 20px 10px 5px 10px;
        }
        .servicos__box p {
            padding: 5px 0 30px 0;
        }
        .servicos__box img {
        }
        .servicos__box.active img {
        }

.quemsou {
}
    .quemsou__box {
    }
        .quemsou__box--img {            
        }
        .quemsou__box--text {
        }
            .quemsou__box--text h2 {
                font-size: 130%;
            }
            .quemsou__box--text p {
                font-size: 85%;
            }


}

@media only screen and (max-width: 760px) {
body, html {
    font-size: 15px;
}

.header {
    flex-direction: column;
    background-color: #fff;
}
    .header__logo {
        padding: 10px 0;
    }
        .header__logo img {
        }
        .header__logo i {
            display: block;
        }
    .header__nav {
        padding: 0;
    }
        .header__nav ul {
            transition: all 0.5s;
            flex-direction: column;
            display: none;
        }
            .header__nav ul li {
               margin: 5px 0;
            }
                .header__nav ul li a {
                    margin: 0;
                }
                .header__nav ul li a:hover {
                }

.mosaico {
}
    .mosaico__container {
    }
        .mosaico__container--box {
        }

.servicos {
    height: 500px;
    padding: 20px;
    flex-direction: column;
}
    .servicos__box {
        width: 50%;
        height: 400px;
        transform: translateY(0); /**/
    }
    .servicos__box.active {
    }
        .servicos__box h2 {
            padding: 5px;
        }
        .servicos__box p {
            padding: 5px;
        }
        .servicos__box img {
            display: none;
        }
        .servicos__box.active img {
        }

.quemsou {
    height: auto;
    align-items: center;
}
    .quemsou__box {
        flex-direction: column;
        align-items: center;
        padding: 5% 2%;
    }
        .quemsou__box--img {
            width: 250px;
            height: 300px;       
        }
        .quemsou__box--text {
            width: 90%;
        }
            .quemsou__box--text h2 {
                text-align: center; /**/
            }
            .quemsou__box--text p {
                font-size: 83%; /**/
            }
    
}